.cut {
    display: inline-block;
    margin: 0px 17px;
    padding: 7px 9px;
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    flex-wrap: wrap;
}
.cut a{
    text-decoration: none;
    color: black;
}
.cut li{
    list-style: none;
}
.catt{
   position: fixed;
   top: 70px;
   background-color: white;
   height: 60px;
   margin-left: 18%;
   width: 100%;
   z-index: 1;
}