.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    position: fixed;
    width: 100%;
    top: 0;
   background-color: white;
   z-index: 1;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 25px;
}
.profile {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.inp img{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
.inp{
    display: flex;
    align-items: center;
}
.logo img{
    height:70px;
    width: 130px;
    margin-left: 30px;
}
.inp input{
    height: 35px;
    width: 550px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 1px solid black;
    padding-left: 20px;
}
.inp input:focus{
    outline-color: skyblue;
}
.inp button{
    padding: 10.5px 12px;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}
.an{
    display: flex;
}
.profile a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0px 10px;
    font-weight: bolder;
    font-size: 17px;
}